@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
.s1{
    margin: 20px 0px;
    background: url("../images/30668-min.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: cover;
    height: 800px;
    margin-top: 60px;
}
.s1content{
    padding: 200px;
    width: 600px;
    text-align: left;
    padding-left: 40px;
}
.s1content > p{
    font-size: 18px;
}
.s1content > h1{
    width: 600px;
    font-weight: 500;
    font-style: italic;
}
.s1content >h1 > span {
    display: inline-block;
    margin: 5px;
    opacity: 0;
    filter: blur(4px);
  }
  
  .s1content >h1>span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content >h1>span:nth-child(2) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(3) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(4) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(5) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(6) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(7) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(8) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(9) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .s1content > h1 >span:nth-child(10) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
 
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
.s1content > .btn{
    border: 2px solid #035473;
    background-color: #408ba8;
    border-radius: 25px;
    margin-top: 30px;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.s1content>.btn:hover{
    background-color: white;
}
.s1content>.btn>.contactbtn{
    color: white;
    text-decoration: none;
}
.s1content>.btn>.contactbtn:hover{
    color: #408ba8;
}
.techs{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.techs > div > img{
    margin: 20px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-weight: 600;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
.s2{
    padding-top: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
.s2 > h4{
    border: 1px solid white;
    background-color: #e6f0ff;
    color: #0066ff;text-align: center;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 8px;
}
.s2 > h1{
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 38px;
}
.s2d{
    display: flex;
}
.d1, .d2, .d3{
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    padding: 25px 20px;
    -moz-box-shadow: 0 0 5px #749cac;
    -webkit-box-shadow: 0 0 5px #749cac;
    box-shadow: 0 0 5px #749cac;
    width: 300px;
}
.d1, .d2{
    margin-right: 20px;
}
.d2, .d3{
    margin-left: 20px;
}
.icon1, .icon2, .icon3{
    transform: scale(1.8);
    margin: 10px;
    margin-bottom: 20px;
}
.icon1{
    background-color: #66cc66;
    color: white;
}
.icon2{
    background-color: #ff80aa;
    color: white;
}
.icon3{
    background-color: #80aaff;
    color: white;
}
.d1 > h3, .d2 > h3, .d3 > h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}
.d1 > p, .d2 >p, .d3 > p{
    margin-top: 10px;
}

.s3{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-bottom: 60px;
}
.s3d1 > img{
    width: 500px;
    height: 500px;
}
.s3d2{
    text-align: left;
    padding: 30px;
    margin-left: 60px;
    margin-right: 30px;
}
.s3d2 > h4{
    background-color: #ffe6f2;
    color: #ff1a8c;
    font-size: 22px;
    font-weight: bold;
    width: 130px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
}
.s3d2 > h2{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
}
.s3d2 > .btn{
    border: 2px solid #092986;
    border-radius: 25px;
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #3089ac;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.s3d2>.btn>.aboutbtn{
    color:white;
    text-decoration: none;
}
.s3d2>.btn:hover{
    background-color: white;
}
.s3d2>.btn>.aboutbtn:hover{
    color: #3089ac;
}
.s4{
    width: 1000px;
    margin: auto;
    margin-bottom: 80px;
}
.s4d{
    display: flex;
    text-align: left;
}

.s4d1 > h4{
    background-color: #e6ffe6;
    color: #006600;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
}
.s4d1 > h2{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}
.s4d2{
    margin: auto;
    padding: 15px 250px;
}
.s4d1d1, .s4d1d2, .s4d2d1, .s4d2d2{
    text-align: left;
    margin-top: 80px;
    width: 330px;
    padding: 30px 40px;
    padding-bottom: 10px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
}
.s4d1d1:hover, .s4d1d2:hover, .s4d2d1:hover, .s4d2d2:hover{
    cursor: pointer;
    -moz-box-shadow: 0 0 25px #999;
    -webkit-box-shadow: 0 0 52px #999;
    box-shadow: 0 0 25px #999;
}
.s4d1d1 > img ,.s4d1d2 > img{
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
}
.s4d2d1 > img ,.s4d2d2 > img{
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
}
.s4d1d1 > h5, .s4d1d2 > h5, .s4d2d1 > h5, .s4d2d2 > h5{
    color: #666699;
}
.s4d1d1 > p, .s4d1d2 > p, .s4d2d1 > p, .s4d2d2 > p{
    color: #2d2d86;
    font-weight: bold;
    font-size: 24px;
}

.s4 > .btn{
    float: left;
    margin-top: 20px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: #3939ac;
}
.arrow{
    vertical-align: middle;
}
.s5{
    width: 1300px;
    height: 300px;
    margin: auto;
    background-color: #e6ffff;
    margin-bottom: 200px;
    padding-top: 150px;
}
.s5d{
    display: flex;
    width: 1100px;
    margin: auto;
    background-color: white;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    height: 300px;
    align-items: center;
}
.s5d > .s5d1 {
    margin-left: auto;
    margin-right: 50px;
}
.s5d > h1{
    text-align: left;
    margin-left: 80px;
    color: #000080;
}
.s5d1 > .btn{
    border: 2px solid #092986;
    border-radius: 25px;
    padding: 10px 25px;
    background-color: #3089ac;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.s5d1>.btn:hover{
    background-color: white;
}
.s5d1>.btn>.s5link{
    color: white;
    text-decoration: none;
}
.s5d1>.btn>.s5link:hover{
    color: #3089ac;
}
.s5d1 > p{
    font-size: 14px;
    color:#7575a3;
    font-weight: bold;
    margin-top: 5px;
}
.mail{
    vertical-align: middle;
    transform: scale(0.8);
    margin-right: 2px;
}

@media only screen and (max-width:420px) {
    .homepage{
        overflow-x: hidden;
    }
    .s1{
        width: 100%;
        margin: auto;
        background: none;
        height: auto;
        margin-top: 60px;
    }
    .s1content{
        width: 100%;
        padding: 50px;
        padding-top: 50px;
        text-align: center;
        background-color: #e6ffff;
    }
    .s1content > h1{
        width: 100%;
        font-size: 28px;
        padding-left: 0px;
    }
    .s1content > .btn{
        font-size: 16px;
    }
    .techs{
        display: none;
    }
    .s2,.s4{
        width: 100%;
    }
    .s2 > h1{
        width: 420px;
        font-size: 34px;
        padding-left: 5px;
    }
    .s2>h4{
        margin-left: 5px;
    }
    .s2d{
        flex-direction: column;
        width: 100%;
    }
    .d1,.d2,.d3{
        margin: auto;
        margin-bottom: 20px;
    }
    .s3{
        flex-direction: column;
        width: 100%;
    }
    .s3d1 > img{
        width: 100%;
        height: 100%;
    }
    .s3d2{
        padding: 10px;
        margin: 5px;
    }
    .s4d{
        flex-direction: column;
        width: 100%;
    }
    .s4d2,.s4d1{
        padding: 15px;
        justify-content: center;
        margin: 0px;
        width: 100%;
    }
    .s4d1d1, .s4d1d2, .s4d2d1, .s4d2d2{
        padding: 30px 50px;
        width: 100%;
    }
    .s4d1d1,.s4d1d2{
        margin-left: 0;
    }
    .s5,.s5d1{
        width: 100%;
    }
    .s5{
        height: 200px;
        padding-top: 100px;
        margin-bottom: 100px;
    }
    .s5d{
        width: 90%;
        height: 200px;
        flex-direction: column;
        justify-content:center;
    }
    .s5d>h1{
        width: 100%;
        font-size: 26px;
        text-align: center;
        margin: 5px;
    }
    
    .s5d1 > .btn{
        margin-top: 20px;
        font-size: 12px;
    }
}