@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  display: flex;
  background-color: white;
}
nav > h2 {
  text-align: left;
  margin: 18px 25px;
}
nav > h2 > a {
  color: #3089ac;
  font-weight: 900;
  font-size: 38px;
  font-family: "Domine", serif;
}
nav > h2 > a:hover{
  text-decoration: none;
}
nav > ul {
  display: inline-block;
  width: 100%;
}
.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 5px 15px;
}
.items > a {
  color: #000;
  text-decoration: none;
}
.items:hover {
  border: 2px solid #035473;
  padding: 5px 15px;
  border-radius: 25px;
}
.list > hr {
  display: none;
}
.list > button {
  background: transparent;
  border: 2px solid #035473;
  padding: 10px;
  padding: 5px 15px;
  background-color: #4697b8;
  font-size: 18px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  animation: 2s anim-popoutin ease 3;
  margin-left: auto;
  margin-right: 40px;
}
@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
  }
  25% {
    color: red;
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
  }
}


.navbtn {
  display: none;
  position: absolute;
  right: 10px;
  margin-right: 2%;
  top: 20px;
  padding: 5px 7px;
  color: #000;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #035473;
}
@media (max-width: 420px) {
  nav {
    display: block;
    z-index: 10;
    width: 100%;
  }
  nav > ul {
    width: 90%;
  }
  .list {
        border-radius: 10px;
        flex-direction: column;
        height: auto;
        background: #408ba8;
        margin: auto;
        text-align: center;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 90%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        border-bottom: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        padding: 15px 0;
    }
    .items:hover{
      border: none;
      cursor: pointer;
      line-height: 52px;
    }
    .list > hr{
      margin-top: 0px;
      display: block;
      width: auto;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.555);
    }
    .navbtn {
        display: block;
    }
    .list > button{
      background-color: transparent;
      margin-bottom: 10px;
      padding:15px 0;
      animation: none;
    }
}
