.mainclass {
  margin: 0 25%;
  width: 50%;
  padding: auto;
  text-align: center;
  display: flex;
}
.spinnerclass {
  float: left;
  margin: auto;
}
.logoclass {
  float: left;
  margin: 20px;
  font-size: 130px;
  color: #408ba8;
  font-family: "Lobster", cursive;
}
#msgid {
  background-position: top right;
  color: #408ba8;
  font-size: 50px;
  margin-top: 10%;
  font-family: "Lobster", cursive;
  text-align: center;
}
@media (max-width: 420px) {
  .CompSpinner {
    size: 100;
  }
  .mainclass {
    margin: auto;
    width: 100%;
  }
  .logoclass,
  .CompHash {
    font-size: 50px;
  }
}
