.demo2s3d1{
    flex:0.5;
    margin:auto;
    text-align:center;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
}
.demo2s3d2{
    flex: 0.5;
}
@media (max-width:720px) {
    .demo2s3>section{
        flex-direction: column;
        width: 100%;
    }
}