@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
.s1{
    background: linear-gradient(to top right, #ffffcc 26%, #ff66ff 100%);
    display: flex;
    padding: 20px;
}
.s1 > div > img{
    height: 400px;
    width: 500px;
    margin: 30px;
}
.s1 > .p1 > h1{
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 44px;
    font-style: italic;
}
.s1 > .p1 > p{
    font-size: 34px;
    margin: auto;
    margin-left: 80px;
    font-family: 'Neonderthaw', cursive;
    font-weight: 600;
}
.p1, .p2{
    flex: 0.5;
    margin: auto;
}
.s3{
    
    height: auto;
    padding: 20px;
}
.h1{
    background: #ff6666;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.s2{
    height: 700px;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to top left, #ff6666 0%, #66ff99 100%);
}

.s3{
    background: linear-gradient(to bottom, #4d4dff 0%, #ff9966 100%);
}
@keyframes example {
    0%   {color: #ffff00;}
    25%  {color: #ff9933;}
    50%  {color: #ffb3d9;}
    100% {color: #79ff4d;}
  }
  
.contact > h3{
    font-style: italic;
    font-size: 42px;
    margin: auto;
    width: 500px;
    margin-bottom: 0px;
    color: #ffff00;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
form{
    
    width: 100%;
    padding: 30px;
    color: black;
}
.form{
    width: 400px;
    margin: auto;
    font-weight: 600;
    font-size: larger;
}
label{
    display: block;
    text-align: left;
    margin-left:36px;
}
input{
    width: 330px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    padding: 8px;
    margin-top: 10px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}