@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

.s1{
    padding: 20px;
}
.s1 > .p1 > h1{
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 44px;
    font-style: italic;
}
.s1 > .p1 > p{
    font-size: 30px;
    margin: auto;
    font-family: 'Courgette', cursive;
    font-weight: 600;
    width: 1000px;
}
.p1{
    flex: 0.5;
    margin: auto;
}
.s2{
    padding: 15px;
    background-color: #fff5e6;
}
.s2 > h1, .s3 > h1{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
.s3{
    padding: 30px;
}
.lt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.lt > h3{
    margin-left: 15px;
    background-color: #660033;
    color: white;
    padding: 55px 35px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Sedgwick Ave', cursive;
}
.offering{
    display: flex;
    justify-content: center;
}
.element{
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 5px;
    border: 1px solid darkgrey;
}
.element > img{
    height: 200px;
    width: 200px;
    margin: auto;
}
.element > span{
    font-size: 24px;
    margin-top: 10px;
    background-color: #004d99;
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}
.s5{
    height: auto;
    padding: 20px;
}
.h1{
    background-color: #ffffb3;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.s4 > .d2{
    height: 700px;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #ffffb3 0%, #660066 50%, #333333 100%)
}

@keyframes example {
    0%   {color: red;}
    25%  {color: blue;}
    50%  {color: olive;}
    100% {color: green;}
  }
  
.contact > h3{
    font-style: italic;
    text-decoration: underline;
    font-size: 42px;
    font-weight: bold;
    margin: auto;
    width: 500px;
    margin-bottom: 0px;
    color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
form{
    
    width: 100%;
    padding: 30px;
    color: black;
}
.form{
    width: 400px;
    margin: auto;
    font-weight: 600;
    font-size: larger;
}
label{
    display: block;
    text-align: left;
    margin-left:36px;
}
input{
    width: 330px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    padding: 8px;
    margin-top: 10px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-size: 18px;
}