.navbar{
    height: 80px;
    background-color: black ;
    opacity: 0.8;
    width: 100%;
    top: 0;
    padding: 12px;
    color: white;
    display: flex;
}
.navbar > .title > h3{
    font-size: 28px;
    margin-right: 40px;
    margin-left: 10px;
    display: flex;
}
.navbar > .contents{
    justify-content: end;
}
.navbar > .contents > a{
    font-size: 22px;
    margin: 14px;
    margin-right: 12px;
    text-decoration: none;
    color: white;
}
