.demo2s2{
    padding-bottom: 10px;
}
.demo2s2d1{
    flex:0.5;
    margin-top: 40px;
}
.demo2s2d2{
    flex: 0.5;
    margin:auto;
    text-align:center;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
}
@media (max-width:720px) {
    .demo2s2{
        width: 100%;
    }
    .demo2s2 > section{
        flex-direction: column-reverse;
        width: 100%;
    }
}